
<!-- <div class="popup__container">
  <div class="content__container">
    <header>
      <div class="info">
        <p>DITTO</p>
      </div>
      <div class="pokeimage">
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png"
          alt=""
        />
      </div>
    </header>
    <div class="content__body"></div>
  </div>
</div> -->
<div class="popup__container">
  <svg width="1514.7" height="755.1" viewBox="0 0 1683 839" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 30C0 13.4314 13.4315 0 30 0H1371C1387.57 0 1401 13.4315 1401 30V839H150C67.1573 839 0 771.843 0 689V30Z" fill="#D30000"/>
    <path d="M1394 362H1444.5C1576.22 362 1683 468.78 1683 600.5C1683 732.22 1576.22 839 1444.5 839H1394V362Z" fill="#D30000"/>
    <path d="M1394 410H1435C1540.49 410 1626 495.514 1626 601C1626 706.486 1540.49 792 1435 792H1394V410Z" fill="#2F2F2F"/>
    <mask id="path-4-outside-1_2_31" maskUnits="userSpaceOnUse" x="0" y="0" width="233" height="839" fill="black">
    <rect fill="white" width="233" height="839"/>
    <path d="M0 30C0 13.4314 13.4315 0 30 0H201V839H150C67.1573 839 0 771.843 0 689V30Z"/>
    </mask>
    <path d="M0 30C0 13.4314 13.4315 0 30 0H201V839H150C67.1573 839 0 771.843 0 689V30Z" fill="#D30000"/>
    <path d="M0 0H201H0ZM201 839H0H201ZM0 839V0V839ZM233 0V839H169V0H233Z" fill="#BF0606" mask="url(#path-4-outside-1_2_31)"/>
    <rect y="126" width="29" height="32" fill="#01770D"/>
    <rect x="282" y="59" width="1061" height="721" rx="50" fill="#2F2F2F"/>
    <path d="M335 108H1288V674H335V108Z" fill="#D9D9D9"/>
    <rect x="657" y="704" width="321" height="47" rx="15" fill="#1E1E1E"/>
    <path d="M826 718H961V737H826V718Z" fill="#D9D9D9"/>
    <rect x="676" y="718" width="135" height="19" fill="#D9D9D9"/>
    <rect x="1478.91" y="531" width="45.175" height="139" fill="#D9D9D9"/>
    <rect x="1432" y="623.088" width="45.175" height="139" transform="rotate(-90 1432 623.088)" fill="#D9D9D9"/>
    <g filter="url(#filter0_i_2_31)">
    <circle cx="100.5" cy="646.5" r="68.5" fill="#056CCB"/>
    </g>
    <rect y="181" width="29" height="32" fill="#01770D"/>
    <defs>
    <filter id="filter0_i_2_31" x="9" y="571" width="160" height="144" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feMorphology radius="36" operator="erode" in="SourceAlpha" result="effect1_innerShadow_2_31"/>
    <feOffset dx="-23" dy="-7"/>
    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2_31"/>
    </filter>
    </defs>
    </svg>  
</div>
  