.navbar__container{
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: var(--pokecolor-red);
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    color: white;
    font-family: var(--navbar-font);
    font-weight: 300;
    margin:0 2.98vw ;
}
.navigation{
    display: flex;
    align-items: center;
    width: 40vw;
}
.links{
    display: flex;
    justify-content: space-around;
}
.links a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}
.logo p{
    font-size: 2.8rem;
    margin-left: .7rem;
}
.user{
    display: flex;
    justify-content: space-around;
    width: 20vw;
    align-items: center;
}
.user p{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.searchbar__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.searchbar{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 8.5vh;
    background-color: var(--pokecolor-black);
    align-items: center;
}
.searchbar input{
    width: 23.2vw;
    height: 4.41vh;
    border-radius:0.625rem;
    padding-left: 21px;
    font-size: 1.5rem;
    outline: none;
    color: var(--pokecolor-black);
}
.searchbar button{
    width: 2.18vw;
    height: 4.42vh;
    border-radius:0.625rem;
    background-color: var(--pokecolor-red);
    border: none;
    margin-left: .58vw;
    cursor: pointer;
}
.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="734" height="41" viewBox="0 0 734 41" fill="none" ><path d="M0 0H734L710 41H24L0 0Z" fill="%232F2F2F" /></svg>');
    width: 39.06vw;
    height: 4.42vh;
}
.filter a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 1.375rem;
    margin-right: .32rem;
    padding-bottom: 1.61vh;
}
.filter svg{
    cursor: pointer;
    padding-bottom: 1.61vh;

}