/** conic-gradient(color1 start end, color2 start end, color1 endColor2 360deg) */
.pokecard__container {
  display: flex;
  width: 13.68vw;
  height: 25.86vh;
  border-radius: 1.875rem;
  flex-direction: column;
  background: conic-gradient(
    var(--pokecolor-red) 0deg 90deg,
    var(--pokecolor-black) 90deg 270deg,
    var(--pokecolor-red) 270deg 360deg
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.details p {
  text-align: center;
  color: white;
}
.pokenumber {
  width: 100%;
  height: 1.8vh;
  font-size: 0.9375rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
  margin-top: 0.3rem;
}
.pokeimg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokeimg .circle {
  position: absolute;
}
.pokemonIcon {
  position: relative;
}
.pokename {
  margin: 6% 0 0 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.types {
  display: flex;
  justify-content: space-evenly;
  font-weight: 500;
  color: white;
  margin: 0.02rem 1.8rem 0 1.8rem;


}
.types p {
  border-radius: 8px;
  font-size: 0.875rem;
  width: 4vw;
  height: 2.5vh;
  text-align: center;
  align-content: center;
}
.pokename::first-letter{
  text-transform: capitalize;
}
.types p::first-letter {
  text-transform: capitalize;
}

.disabled {
  background: conic-gradient(
    #cecece 0deg 90deg,
    var(--pokecolor-black) 90deg 270deg,
    #cecece 270deg 360deg
  );
}


.normal{ background-color: #A8A77A;}
.fire{ background-color: #EE8130;}
.water{ background-color: #6390F0;}
.electric{ background-color: #ffbb00;}
.grass{ background-color: #6cbb3e;}
.ice{ background-color: #96D9D6;}
.fighting{ background-color: #C22E28;}
.poison{ background-color: #A33EA1;}
.ground{ background-color: #E2BF65;}
.flying{ background-color: #A98FF3;}
.psychic{ background-color: #F95587;}
.bug{ background-color: #A6B91A;}
.rock{ background-color: #B6A136;}
.ghost{ background-color: #735797;}
.dragon{ background-color: #6F35FC;}
.dark{ background-color: #705746;}
.steel{ background-color: #B7B7CE;}
.fairy{ background-color: #D685AD;}