<div class="pokecard__container pop" [ngClass]="{'disabled': isEmpty}" (click)="openModal()">
  <div class="details">
    <p class="pokenumber">{{!isEmpty ? pokeModel.id :"N°0000"}}</p>
    <div class="pokeimg">
      <svg
      class="circle"
        xmlns="http://www.w3.org/2000/svg"
        width="130"
        height="130"
        viewBox="0 0 130 130"
        fill="none"
      >
        <circle cx="65" cy="65" r="65" fill="white" />
      </svg>
      <img ngSrc="{{this.pokeModel.img}}" width="100" height="100" class="pokemonIcon" priority>
    </div>
    <p class="pokename">{{isEmpty? "Vazio": pokeModel.name}}</p>
  </div>
  <div class="types">
    @if(!isEmpty){
      @for(type of pokeModel.types; track $index){
        <p [ngClass]="type.type.name">{{type.type.name}}</p>
      }
    }@else {
      <p style="background-color: #969696;">NORMAL</p>
    }
  </div>
</div>
<ng-template cdkPortal>
  <infopopup [pokemonDetails]="pokeinfo"/>
</ng-template>